header{
    height: 200px;
    background-color: rgb(25, 25, 30);
}
main{
    height: 600px;
    background-color: rgb(75, 72, 77);
}
aside{
    height: 600px;
    background-color:  rgb(48, 44, 44);
}
footer{
    height: 150px;
    background-color:  rgb(25, 25, 30);
}
.nav{
    padding-top: 150px;
    padding-left: 145px;
}